<div class="container bg-dark">
  <div
    class="card mt-5 bg-danger"
    *ngFor="let writer of writeris; let indice = index"
    (click)="bookWriters(indice+1)"
  >
    <h3 class="title bg-dark text-light">
      {{ writer?.nombre }} {{ writer?.apellidos }}
    </h3>
    <img class="card-img image" [src]="writer?.imagen" alt="" />
    <p class="text card-subtitle mt-2 text-light bg-dark">{{ writer.pais }}</p>
  </div>

  <select
    (change)="onCountry($event)"
    class="form-select card-title position-fixed w-50 bg-dark text-light mt-2 m-2"
  >
    <option selected>Todos</option>
    <option value="españa">España</option>
    <option value="reino unido">Reino Unido</option>
    <option value="chile">Chile</option>
    <option value="canadá">Canada</option>
  </select>
</div>
