.card-body{
  width: 80%;
  height: 80%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 1rem;
  justify-content: center;
  .title{
    width: 80%;
    padding: 1% ;
    margin: 1% auto 1%;
    text-align: center;
    border-radius: 1rem;
  }
  .content{
    width: 50%;
    height: 80%;
    margin: 1%;
    padding: 1%;
    border-radius: 1rem;
    text-align: center;
    .book{
      width: 95%;
      height: 90%;
      margin-left:2%;
      margin-top: 1%;
      overflow: hidden scroll;
      scrollbar-width: none;
      border-radius: 0.5rem;
      background-color: grey;
      .text{
        width: 35%;
        border:none;
        margin-top: 0.5%;
        margin-left: 0.5%;
        border-radius: 2rem;
        background-color: red;
      }
    }
  }
  button{
    position: fixed;
    width: 2%;
    border:none;
    margin-top: 0.5%;
    margin-left: 77%;
    border-radius: 3rem;
    background-color: red;
  }
  .text{
    background-color: red;
    border-radius: 0.5rem;
  }
  img{
    border-radius: 1rem;
    width: 30%;
    height: 80%;
    margin: 1%
  }
}
